@font-face {
  font-family: "French Script MT";
  src: url("FrenchScriptMT.ttf");
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #c12d6c;
}

hr.light {
  border-color: #fff;
}

a {
  color: #c12d6c;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #c12d6c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'French Script MT', 'Helvetica Neue', Arial, sans-serif;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 40px;
}

.bg-primary {
  background-color: #c12d6c !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 4rem 0rem 4rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

.text-muted {
  font-size: 80%;
}

.footer-logos img {
  height: 60px;
  margin: 5px;
}

.footer-partenaires img {
  height: 60px;
  margin: 5px;
}

.navbar {
  height: 56px;
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #c12d6c;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.navbar .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.navbar .navbar-brand:focus, .navbar .navbar-brand:hover {
  color: white;
}

.navbar .navbar-nav > li.nav-item {
  background-color: #c12d6c;
}

.navbar .navbar-nav > li.nav-item > a.nav-link,
.navbar .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #adb5bd;
}

.navbar .navbar-nav > li.nav-item > a.nav-link:hover,
.navbar .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: white;
}

.navbar .navbar-nav > li.nav-item > a.nav-link.active,
.navbar .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #fff !important;
  background-color: transparent;
}

.navbar .navbar-nav > li.nav-item > a.nav-link.active:hover,
.navbar .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

.text-primary {
  color: #c12d6c !important;
}

body {
  padding-top: 56px;
}

.btn-primary {
  color: #fff;
  background-color: #c12d6c;
  border-color: #c12d6c;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

a[target="_blank"]:after {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-weight: 900;
  content: "\f35d";
  margin-left: 0.75em;
}
