// Bootstrap overrides for this template
.text-primary {
  color: $primary !important;
}

body {
  padding-top: 56px;
}

.btn-primary{
  color: #fff;
  background-color: $primary;
  border-color: $primary;
}

.dropdown:hover>.dropdown-menu {
  display: block;
} 

a[target="_blank"]:after {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-weight: 900;
  content: "\f35d";
  margin-left:0.75em;
}
