// Styling for the navbar
.navbar {
  height:56px;
  border-bottom: 1px solid fade-out($gray-900, .9);
  background-color: $primary;
  @include sans-serif-font;
  @include transition-all;
  .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
    @include sans-serif-font;
    &:focus,
    &:hover {
      color: darken($white, .1);
    }
  }
  .navbar-nav {
    > li.nav-item {
      background-color: $primary;
      > a.nav-link,
      > a.nav-link:focus {
        font-size: .9rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $gray-500;
        &:hover {
          color: darken($white, .1);
        }
        &.active {
          color: $white !important;
          background-color: transparent;
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
  @media (min-width: 992px) {
    
  }
}
